<form #myForm="ngForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <label for="firtsname">Prénom: </label>
    <input
      type="text"
      name="firtsname"
      id="firtsname"
      [(ngModel)]="newUser.firstname"
      #firstname="ngModel"
      required
      minlength="3"
      maxlength="15"
    />
  </fieldset>
  <div *ngIf="firstname.errors && isSubmitted">
    <span *ngIf="firstname.errors?.['required']"
      >Le champ firstname est requis</span
    >
    <span *ngIf="firstname.errors?.['minlength']"
      >La longueur minimale doit être supérieure à 3</span
    >
    <span *ngIf="firstname.errors?.['maxlength']"
      >La longueur maximale doit être inférieure à 15</span
    >
  </div>
  <fieldset>
    <label for="lastname">Nom: </label>
    <input
      type="text"
      name="lastname"
      id="lastname"
      [(ngModel)]="newUser.lastname"
      required
      minlength="3"
      maxlength="15"
      #lastname="ngModel"
    />
  </fieldset>
  <div *ngIf="lastname.errors && isSubmitted">
    <span *ngIf="lastname.errors?.['required']"
      >Le champ lastname est requis</span
    >
    <span *ngIf="lastname.errors?.['minlength']"
      >La longueur minimale doit être supérieure à 3</span
    >
    <span *ngIf="lastname.errors?.['maxlength']"
      >La longueur maximale doit être minimale à 15</span
    >
  </div>
  <fieldset>
    <label for="email">Email: </label>
    <input
      type="email"
      name="email"
      id="email"
      [(ngModel)]="newUser.email"
      #email="ngModel"
      required
      email
    />
  </fieldset>
  <div *ngIf="email.errors && isSubmitted">
    <span *ngIf="email.errors?.['required']">Le champ email est requis</span>
    <span *ngIf="email.errors?.['email']"
      >L'adresse email doit être valide</span
    >
  </div>
  <fieldset>
    <label for="password">Password: </label>
    <input
      type="password"
      name="password"
      id="password"
      [(ngModel)]="newUser.password"
      #password="ngModel"
      required
      minlength="6"
    />
  </fieldset>
  <div *ngIf="password.errors && isSubmitted">
    <span *ngIf="password.errors?.['required']"
      >Le champ password est requis</span
    >
    <span *ngIf="password.errors?.['minlength']"
      >La longueur minimale doit être supérieure à 6</span
    >
  </div>
  <button type="submit">Sauvegarder</button>
</form>
